@use "css/constants";

.board {

  //width: constants.$square-size;
  //height: constants.$square-size;
  display: grid;
  $bigDim: constants.square(0.15);
  $smallDim: constants.square(0.7/9);
  grid-template-columns: $bigDim repeat(9, $smallDim) $bigDim;
  grid-template-rows: $bigDim repeat(9, $smallDim) $bigDim;
}


