.inJail {
  :global {
    .st0 {
      fill: none;
    }

    .st1 {
      fill: #F7BC60;
    }

    .st2 {
      fill: #FFFFFF;
    }

    .st3 {
      fill: #CA4A24;
    }

    .st4 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
    }

    .st5 {
      stroke: #000000;
      stroke-width: 0.75;
    }

    .st6 {
      font-family: 'KabelITCbyBT-Book';
    }

    .st7 {
      font-size: 119.5967px;
    }

    .st8 {
      letter-spacing: 11.6;
    }

    .st9 {
      font-size: 123.6914px;
    }

    .st10 {
      letter-spacing: 11.38;
    }

    .st11 {
      font-size: 121.6618px;
    }

    .st12 {
      letter-spacing: 12;
    }

    .st13 {
      fill: #FFFFFF;
      stroke: #000000;
      stroke-width: 3;
    }

    .st14 {
      fill: none;
      stroke: #000000;
      stroke-width: 3;
    }

    .st15 {
      fill: none;
      stroke: #000000;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

.goToJail {
  :global {

    .st0 {
      font-family: 'KabelITCbyBT-Book';
    }

    .st1 {
      font-size: 209.1858px;
    }

    .st2 {
      letter-spacing: 21.44;
    }

    .st3 {
      fill: none;
      stroke: #000000;
    }

    .st4 {
      fill: #FFFFFF;
    }

    .st5 {
      fill: #428DB7;
    }

    .st6 {
      fill: none;
      stroke: #000000;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .st7 {
      fill: none;
      stroke: #000000;
      stroke-width: 2;
    }
  }
}

.freeParking {
  :global {

    .st0 {
      fill: none;
    }

    .st1 {
      fill: #F7BC60;
    }

    .st2 {
      fill: #FFFFFF;
    }

    .st3 {
      stroke: #000000;
    }

    .st4 {
      font-family: 'KabelITCbyBT-Book';
    }

    .st5 {
      font-size: 186.9451px;
    }

    .st6 {
      letter-spacing: 20;
    }

    .st7 {
      fill: #FFFFFF;
      stroke: #000000;
      stroke-width: 3;
    }

    .st8 {
      fill: #EE2D2B;
      stroke: #000000;
      stroke-width: 3;
    }
  }
}

.passGo {
  :global {

    .st0 {
      fill: none;
    }

    .st1 {
      fill: #F7BC60;
    }

    .st2 {
      fill: #FFFFFF;
    }

    .st3 {
      stroke: #000000;
    }

    .st4 {
      font-family: 'KabelITCbyBT-Book';
    }

    .st5 {
      font-size: 149px;
    }

    .st6 {
      letter-spacing: 28.3;
    }

    .st7 {
      stroke: #000000;
      stroke-width: 2;
    }

    .st8 {
      fill: none;
      stroke: #000000;
      stroke-width: 100;
    }

    .st9 {
      fill: #ED1C24;
      stroke: #000000;
      stroke-width: 2;
    }
  }
}
