@use "constants";
@use 'tiles';
.board {
  $bigDim: constants.$tile-ratio*100%;
  $smallDim: (100% - (($bigDim*2)))/9;
  width: constants.$square-size;
  height: constants.$square-size;
  display: grid;
  //margin:auto;
  grid-template-columns: $bigDim repeat(9, $smallDim) 15%;
  grid-template-rows: $bigDim repeat(9, $smallDim) 15%;
}


